[Unit]
Description=CW268 Milk Watcher Service
After=bluetooth.target

[Service]
Type=simple
User=baby
WorkingDirectory=/home/baby
ExecStart=/home/baby/my_venv/bin/python3 /home/baby/scripts/cw268_milk_time_watcher.py
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target 
